input[type='range'] {
  border-radius: 2px;
  height: 3px;
  -webkit-appearance: none;
  appearance: none;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  background-color: #ff2626;
  border-radius: 25px;
}